@model IEnumerable<Instructor>

@{
    ViewData["title"] = "Catalogo de instructores";
}

<h1>Catalogo de instructores</h1>

<a asp-action="Crear" class="btn btn-primary mb-3">Añadir instructor</a>

<table id="instructores" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>EXPEDIENTE</th>
            <th>NOMBRE</th>
            <th>CORREO</th>
            <th>EXT</th>
            <th>HORARIO</th>
            <th>DESCANSO</th>
            <th>TELEFONO 1</th>
            <th>TEELFONO 2</th>
            <th>CALIFICACION</th>
            <th>GERENCIA</th>
            <th>MATERIAS</th>
            <th>ACTUALIZACION</th>
            <th>CALIFICACION FINAL</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inst in Model)
        {
            <tr>
                <td>@inst.IdInstructor</td>
                <td>@inst.InstructorExp</td>
                <td>@inst.Nombre</td>
                <td><a href="mailto:@inst.Correo">@inst.Correo</a></td>
                <td>@inst.Extension</td>
                <td>@inst.Horario</td>
                <td>@inst.Descanso</td>
                <td>@inst.Telefono</td>
                <td>@inst.Telefono2</td>
                <td>@inst.Calificacion</td>
                <td>@inst.Gerencia</td>
                <td>@inst.Materias</td>
                <td>@inst.Actualizacion</td>
                <td>@inst.Calificacion2</td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function (){
            $('#instructores').DataTable();
        });
    </script>
}